{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Add User</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $.validator.addMethod("isEmail", function (value, element) {
                return this.optional(element) || value == value.match(/\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b/i);
            });
            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value == '' || value.trim('').length >= 4;
            }, "At least four characters");
            $("#register-form").validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 4,
                        noSpace : true,
                    },
                    email: {
                        required: true,
                        isEmail: true,
                    },
                    password1: {
                        required: true,
                    },
                    password2: {
                        required: true,
                    },
                },
                messages: {
                    email: {
                        isEmail: "Please enter a valid email address"
                    },
                }
            })
        })
    </script>

</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">

                        <h2 class="form-title">Admin Add user</h2>

                        <form action="ad_signup" method="POST" class="register-form" id="register-form" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="name" placeholder="Your Username"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password1" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="password2" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <!-- <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div> -->
                            <div>
                                {% for message in messages %}
                                <h3 style="color: red;">{{ message }}</h3>
                                {% endfor %}
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="ad_signup" id="ad_signup" class="form-submit btn btn-success me-3" value="Register"/>
                                <!-- <input type="submit" name="ad_signup" id="ad_signup" class="form-submit btn btn-primary" value="Cancel"/> -->
                                <a href="{% url 'ad_home' %}" class="form-submit btn btn-primary">Cancel</a>
                            </div>
                        </form>


                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/signup_image.jpg' %}" alt="sing up image"></figure>
                        <!-- <a href="{% url 'signin' %} " class="signup-image-link">I am already member</a> -->
                    </div>
                </div>
            </div>
        </section>

        
    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>