{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Signin JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $.validator.addMethod("isEmail", function (value, element) {
                return this.optional(element) || value == value.match(/\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b/i);
            });
            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value == '' || value.trim('').length >= 4;
            }, "At least four characters");
            $("#sigin-form").validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 4,
                        noSpace : true,
                    },
                    password: {
                        required: true,
                    },
                },
                messages: {
                    email: {
                        isEmail: "Please enter a valid email address"
                    },
                }
            })
        })
    </script>

</head>
<body>

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'images/signin-image.jpg' %}" alt="sing up image"></figure>
                        
                    </div>

                    <div class="signin-form">

                        <h2 class="form-title">Sign in</h2>

                        <form method="POST" class="register-form" id="sigin-form" action="signin">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="your_name" placeholder="Your Username"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password"/>
                            </div>
                            <div>
                                {% for message in messages %}
                                <h3>{{ message }}</h3>
                                {% endfor %}
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <br>
                        <button style="background-color: rgb(67, 100, 150); border: none; border-radius: 5px; padding: 20px 50px; "><a
                            style="text-decoration: none;color: white;" href="{% url 'ad_signin' %}"><i
                              class="fas fa-user-plus me-2"></i>Admin Login</a></button>
                        
                        <br><br>
                        <div>
                            <a href="{% url 'signup' %}" class="signup-image-link">Create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>